:root {
    --index: 999;
}
body {
    height: 1000px;
}
.main-site-container {
    max-width: 100% !important;
    /* padding-top: 80px; */
}
.navbar-container {
    z-index: 99999999;
    position: fixed;
    width: 100%;
    height: 80px;
}
.page-title {
    width: 400px;
    margin: auto;
}
.year-card {
    width: 80%;
}
.today {
    background-color: blue;
    color: white;
    font-weight: 900;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.weekDay {
    color: green;
    font-weight: 900;
    font-size: smaller;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, auto);
}
.grid-item {
    text-align: center;
}
.month-card {
    min-height: 250px;
}
.day-number:hover {
    cursor: pointer;
    background-color: #7777ff;
    color: white;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.day-number > a,
.days-grid-container a {
    color: #222;
}
.day-has-tasks {
    background: #33333377;
}
.select-years {
    border: 1px solid #757575aa;
}
.days-grid-container {
    display: grid;
    grid-template-columns: repeat(7, 170px);
    grid-gap: 1%;
}
.day-grid-item {
    background-image: linear-gradient(60deg, #77f 60%, #22f);
    height: 200px;
    border: 1.5px double grey;
}
.today-grid-item {
    background-image: none;
    background-color: white;
}
.this-month-task-name > a {
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
}
.task-done h6,
.step-done {
    text-decoration: line-through;
}
.single-task-check {
    cursor: pointer;
}
.tasks-index-single-container .single-task-steps {
    display: none;
}
.show-add-step {
    display: block;
}
.task-end-date {
    position: relative;
}
.task-end-date:hover::after {
    content: attr(task-title);
    position: absolute;
    z-index: var(--index);
    top: -20px;
    left: 50px;
    height: 30px;
    padding: 10px 5px;
    background-color: #8855ffff;
    color: whitesmoke;
    font-size: larger;
}
/* .task-show-card {
    min-height: 400px;
} */
.single-task-title {
    display: grid;
    grid-template-areas: "title title title title  date date form";
    width: 280px;
}
.single-task-title > a {
    grid-area: "title";
}
.single-task-title > small {
    grid-area: "date";
}
.single-task-title > a {
    grid-area: "form";
}
